@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body{
  text-align: center;
  background-color:#FDE68A;
  font-family: 'Ubuntu', sans-serif;
  margin: 0rem;
  
}
nav{
  background-color: black;
  color:yellow;
  margin: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
  padding: 1rem;
  padding-top: 0rem;
}
.navbar{
  font-size: 2rem;
  padding: 1rem;
}
.main{
  margin: 2rem;
}

